<%- include("partials/header", { title: "Home" }) %>

    <div class="Space">
        <h1 class="Title">7Bloodz Downloader</h1>
        <br>
        <h3>Um simples scraper youtube downloader feito por <a href="https://www.instagram.com/zcapetinha7/</a>, o projeto está sempre sendo atualizado caso queira saber mais procure por znemo7 no Discord.
        <br>
        <h3>Selecione o que deseja baixar:</h3>
            <a href="/download/playlist">
                <button class="primaryButton">Download Playlist</button>
            </a>
            <a href="/download/video">
                <button class="primaryButton">Download Video</button>
            </a>
    </div>

<%- include("partials/footer") %>
